server.modules += ( "mod_redirect" )
server.modules += ( "mod_rewrite" )
server.modules += ( "mod_alias" )

fastcgi.debug = 1

fastcgi.server+=("/wsgi_run.fcgi" =>
    ((
        "socket" => "SOMETHING/flaskbiblio/fcgi.sock",
        "bin-path" => "PATH_TO_APP/wsgi_run.fcgi",
        "check-local" => "disable",
        "max-procs" => 1
    ))
)

alias.url += (
    "/static/" => "PATH_TO_APP/app/static/"
)

url.rewrite-once = (
    "^(/static($|/.*))$" => "$1",
#    "^(/.*)$" => "/wsgi_run.fcgi$1"
)
