{% extends "bootbase.html" %}

{% block content %}
  {{ super() }}
<div class="container">
  <h2>
    <i class="fa fa-commenting-o fa-lg" aria-hidden="true"></i>
    About &ldquo;BiblioMansarda&rdquo;
  </h2>
  <hr>
  <div>
    <div class="row row-grid">
        <div class="col-sm-6">
            <div align="center"><p><strong>
                a simple Flask application to manage a delocalised library
            </strong></p></div>
            <ol class="list-unstyled">
                <li>
                  Designed and developed by hemidactylus
                </li>
                <li>
                  Created in December 2016 - January 2017
                </li>
                <li>
                  Uses
                    <a href="http://flask.pocoo.org/">flask</a>,
                    <a href="http://getbootstrap.com/">bootstrap</a>,
                    <a href="http://jinja.pocoo.org/">jinja2</a>,
                    <a href="http://fontawesome.io/">font-awesome</a> (...)
                </li>
                <li>
                  Source code hosted on <a href="https://github.com/hemidactylus/flaskbiblio" target="_blank">github</a>
                </li>
                <li>
                  Current version: <code>v1.0</code>
                </li>
            </ol>
            <div align="center">
              <p>
                <a href="https://www.salamandrina.net">
                  <img src="/static/biblio/images/sala2.svg" height="55px">
                </a>
              </p>
              <p>
                <small>
                  A <a href="https://www.salamandrina.net">salamandrina.net</a> service
                </small>
              </p>
            </div>
        </div>
        <div class="col-sm-6">
            <img class=".img-responsive" src="/static/biblio/images/fox.jpg" alt="Fox" width="100%">
        </div>
    </div>
  <hr>
  <div>
    <a href="{{  url_for('ep_index') }}">
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
        Back to Index
    </a>
  </div>
  <hr>
</div>

{% block footer %}
    {{ super() }}
{% endblock %}

{% endblock %}
