{% extends "bootbase.html" %}

{% block content %}
  {{ super() }}
<div class="container">
    <div class="row row-grid">
        <div class="col-sm-4">
            <h2>Authors</h2>
        </div>
    </div>
    <div class="row row-grid">
        <div class="col-sm-2">
            {{ queryresult.firstitem + 1 }} - {{ queryresult.lastitem + 1}} of {{ queryresult.ntotal }}
        </div>
        <div class="col-sm-1">
            {% if prevquery %}
                <a class="btn btn-primary" href="{{ url_for('ep_authors',**prevquery) }}"
                    role="button" aria-label="Previous">
                    <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                </a>
            {% endif %}
        </div>
        <div class="col-sm-1">
            {% if nextquery %}
                <a class="btn btn-primary" href="{{ url_for('ep_authors',**nextquery) }}"
                role="button" aria-label="Next">
                    <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                </a>
            {% endif %}
        </div>
        <div class="col-sm-2 col-sm-offset-1">
            <a class="btn btn-success" href="{{ url_for('ep_authorsearch') }}" role="button">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                New search
            </a>
        </div>
        <div class="col-sm-2">
            {% if user.canedit %}
                <a class="btn btn-success" href="{{ url_for('ep_editauthor') }}" role="button">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Add new
                </a>
            {% endif %}
        </div>
    </div>

    <hr>
    <ul>
    {% for author in authors %}
            <li>
                <a href="{{url_for('ep_editauthor',id=author.id)}}">{{ author.lastname }}, {{ author.firstname }}</a>
                <i>( {{ author.bookcount }} )</i>
                {% if user.canedit %}
                    <a href="{{url_for('ep_deleteauthor',id=author.id)}}">Delete</a>
                {% endif %}
        </li>
    {% endfor %}
    </ul>

</div>

{% endblock %}
