{% extends "base.html" %}
{% block content %}
    <h2>Authors
        {% if user.canedit %}
            <a href="{{ url_for('ep_editauthor') }}">Add new</a>
        {% endif %}
    </h2>
    <hr>
    <ul>
    {% for author in authors %}
            <li>
                <a href="{{url_for('ep_editauthor',id=author.id)}}">{{ author.lastname }}, {{ author.firstname }}</a>
                <i>( {{ author.bookcount }} )</i>
                {% if user.canedit %}
                    <a href="{{url_for('ep_deleteauthor',id=author.id)}}">Delete</a>
                {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
