{% extends "bootbase.html" %}

{% block content %}
  {{ super() }}
    <h3>Authors
        ({{ queryresult.firstitem + 1 }} - {{ queryresult.lastitem + 1}} of {{ queryresult.ntotal }})
        {% if prevquery %}
            <a href="{{ url_for('ep_authors',**prevquery) }}">Prev</a>
        {% endif %}
        {% if nextquery %}
            <a href="{{ url_for('ep_authors',**nextquery) }}">Next</a>
        {% endif %}
    </h3>
    <h3>
    <h3>
        <a href="{{ url_for('ep_authorsearch') }}">New Search</a>
        {% if user.canedit %}
            <a href="{{ url_for('ep_editauthor') }}">Add new</a>
        {% endif %}
    </h3>
    <hr>
    <ul>
    {% for author in authors %}
            <li>
                <a href="{{url_for('ep_editauthor',id=author.id)}}">{{ author.lastname }}, {{ author.firstname }}</a>
                <i>( {{ author.bookcount }} )</i>
                {% if user.canedit %}
                    <a href="{{url_for('ep_deleteauthor',id=author.id)}}">Delete</a>
                {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
