<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <h2>Search authors</i></h2>
  <form action="" method="post" name="{{ url_for('ep_authorsearch') }}">
      {{ form.hidden_tag() }}
      <p>
        Last name: {{ form.lastname(size=30) }}
        {% for error in form.lastname.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        First name: {{ form.firstname(size=30) }}
        {% for error in form.firstname.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <hr>
      Sort by {{ form.sortby }}
      {{ form.submit(class_='btn btn-primary') }}
  </form>
{% endblock %}
