<html>
  <head>
    {% if title %}
    <title>{{ title }} - BiblioMansarda</title>
    {% else %}
    <title>BiblioMansarda</title>
    {% endif %}
  </head>
  <body>
    <div><img width="60px" src="images/library.png"></div>
    <div>
          Navigation bar:
            <a href="/index">Home</a>
            {% if g.user.is_authenticated %}
              <a href="/books">Books</a>
              <a href="/authors">Authors</a>
              <a href="/booktypes">Booktypes</a>
              <a href="/languages">Languages</a>
              <b><a href="{{ url_for('ep_logout') }}">Logout</a></b>
            {% else %}
              <b><a href="{{ url_for('ep_login') }}">Login</a></b>
            {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li><font color="red">{{ message }}</font></li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
