{% extends "base.html" %}
{% block content %}
    <h2>Book list <a href="{{ url_for('ep_editbook') }}">Add new</a></h2>
    <hr>
    <ul>
    {% for book in books %}
        <li>
            {{ book.title }}
            [
                {% for auth in book.resAuthors %}
                    {{ auth.firstname }} {{ auth.lastname }}
                {% endfor %}
            ]
            {{ book.inhouse | string }}
            <i>{{ book.notes }}</i>
            [
                {% for lang in book.resLanguages %}
                    {{ lang.name }}
                {% endfor %}
            ]
            {{ book.resBooktype.name }}
            <b><span style="font-size: 10;">Last edit: {{ book.lastedit }}</span></b>
            <a href="{{url_for('ep_editbook')}}?bookid={{book.id}}">E</a>
            <a href="{{url_for('ep_deletebook',bookid=book.id)}}">X</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
