{% extends "base.html" %}
{% block content %}
    <h2>Books
        ({{ queryresult.firstitem + 1 }} - {{ queryresult.lastitem + 1}} of {{ queryresult.ntotal }})
        {% if prevquery %}
            <a href="{{ url_for('ep_books',**prevquery) }}">Prev</a>
        {% endif %}
        {% if nextquery %}
            <a href="{{ url_for('ep_books',**nextquery) }}">Next</a>
        {% endif %}
        {% if user.canedit %}
            <p><a href="{{ url_for('ep_editbook') }}">Add new</a></p>
        {% endif %}
    </h2>
    <hr>
    <ul>
    {% for book in books %}
        <li>
            <a href="{{url_for('ep_editbook',id=book.id)}}">{{ book.title }}</a>
            [
                {% for auth in book.resAuthors %}
                    <a href="{{url_for('ep_editauthor',id=auth.id)}}">{{auth.firstname }} {{ auth.lastname}}</a> 
                {% endfor %}
            ]
            {% if book.inhouse %}
                <!-- nothing here -->
            {% else %}
                <span style="color: red;">Out ({{ book.inhousenotes }})</span>
            {% endif %}
            <i>{{ book.notes }}</i>
            [
                {% for lang in book.resLanguages %}
                    {{ lang.name }}
                {% endfor %}
            ]
            {{ book.resBooktype.name }}
            <b><span style="font-size: 10;">Last edit: {{ book.lastedit }}</span></b>
            {% if user.canedit %}
                <a href="{{url_for('ep_deletebook',id=book.id)}}">Delete</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
