{% extends "bootbase.html" %}

{% block content %}
  {{ super() }}
<div class="container" style="margin-bottom: 40px;">
  <h2>
    <i class="fa fa-search fa-lg" aria-hidden="true"></i>
    Book search
  </h2>
  <hr>
  <form class="form form-horizontal" method="post" role="form" name="{{ url_for('ep_booksearch') }}">
    <div class="form-group">
      {{ form.hidden_tag() }}

      <div class="row row-grid">
        <div class="col-sm-2">
          <label for="title">
            Title:
          </label>
        </div>
        <div class="col-sm-8">
          {{ form.title(size=30, class_="form-control", placeholder="Not mandatory", tabindex=1) }}
          {% for error in form.title.errors %}
            <span style="color: red;">{{ error }}</span>
          {% endfor %}     
        </div>
        <div class="col-sm-2">
          <label for="similarity">
            Similar
          </label>
            {{ form.similarity(tabindex=2) }}
        </div>
      </div>
      <div class="row row-grid">
        <div class="col-sm-2">
          <label for="author">
            Author:
          </label>
        </div>
        <div class="col-sm-10">
          {{ form.author(class_="form-control",width="50%",tabindex=3) }}
        </div>
      </div>

      <div class="row row-grid">
        <div class="col-sm-2">
          <label>
            Other
          </label>
        </div>
        <div class="col-sm-2">
          <label for="booktype">
            Booktype:
          </label>
          {{ form.booktype(class_="form-control",width="50%",tabindex=4) }}
        </div>
        <div class="col-sm-3">
          <label for="language">
            Language:
          </label>
          {{ form.language(class_="form-control",tabindex=5) }}
        </div>
        <div class="col-sm-3">
          <label for="house">
            House:
          </label>
          {{ form.house(class_="form-control",width="75%",tabindex=6) }}
        </div>
        <div class="col-sm-2">
          <label for="inhouse">
            In-House:
          </label>
          {{ form.inhouse(class_="form-control",width="75%",tabindex=7) }}
        </div>
      </div>

      <div class="row row-grid">
        <div class="col-sm-2">
          <label for="sortby">
            Sort by
          </label>
        </div>
        <div class="col-sm-2">
          {{ form.sortby(class_="form-control",tabindex=8) }}
        </div>
        <div class="col-sm-1 col-sm-offset-4">
          {{ form.submit(class_='btn btn-primary',tabindex=9) }}
        </div>
        <div class="col-sm-1">
          <a class="btn btn-warning"
            tabindex=9 href="{{url_for('ep_books')}}" role="button">
              Cancel
          </a>
        </div>
      </div>
    </div>
  </form>
</div>

{% block footer %}
    {{ super() }}
{% endblock %}

{% endblock %}
