{% extends "bootbase.html" %}

{% block content %}
  {{ super() }}
<div class="container">
    <h2>
        <i class="fa fa-book fa-lg" aria-hidden="true"></i>
        Books
    </h2>
    <div class="row row-grid">
        <div class="col-sm-2">
            {{ queryresult.firstitem + 1 }} - {{ queryresult.lastitem + 1}} of {{ queryresult.ntotal }}
        </div>
        <div class="col-sm-1">
            {% if prevquery %}
                <a class="btn btn-primary" href="{{ url_for('ep_books',**prevquery) }}"
                    role="button" aria-label="Previous">
                    <i class="fa fa-backward fa-lg" aria-hidden="true"></i>
                </a>
            {% endif %}
        </div>
        <div class="col-sm-1">
            {% if nextquery %}
                <a class="btn btn-primary" href="{{ url_for('ep_books',**nextquery) }}"
                role="button" aria-label="Next">
                    <i class="fa fa-forward fa-lg" aria-hidden="true"></i>
                </a>
            {% endif %}
        </div>
        <div class="col-sm-2 col-sm-offset-4">
            <a class="btn btn-success" href="{{ url_for('ep_booksearch') }}" role="button">
                <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                New search
            </a>
        </div>
        <div class="col-sm-2">
            {% if user.canedit %}
                <a class="btn btn-success" href="{{ url_for('ep_editbook') }}" role="button">
                    <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                    Add new
                </a>
            {% endif %}
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-sm-3">Title</th>
                <th class="col-sm-2">Authors</th>
                <th class="col-sm-2"></th> <!-- notes -->
                <th class="col-sm-1">Languages</th>
                <th class="col-sm-1">Type</th>
                <th class="col-sm-1">Status</th>
                <th class="col-sm-1"></th> <!-- delete icon -->
                <th class="col-sm-1">Last edit</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>
                    <a href="{{url_for('ep_editbook',id=book.id)}}">{{ book.title }}</a>
                </td>
                <td>
                    <ul class="list-unstyled">
                        {% for auth in book.resAuthors %}
                            <li>
                                <a href="{{url_for('ep_editauthor',id=auth.id)}}">{{auth.firstname }} {{ auth.lastname}}</a> 
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <small>{{ book.notes }}</small>
                </td>
                <td>
                    <ul class="list-unstyled">
                        {% for lang in book.resLanguages %}
                            <li>
                                {{ lang.name }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    {{ book.resBooktype.name }}
                </td>
                <td>
                    <ul class="list-unstyled">
                        <!-- belongs to user's house? -->
                        {% if book.house == user.house %}
                            <li>
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </li>
                        {% endif %}
                        <!-- in house? -->
                        {% if book.inhouse %}
                            <!-- nothing here -->
                        {% else %}
                            <li>
                                <i class="fa fa-plane" aria-hidden="true"></i>
                                <small><strong>{{ book.inhousenotes }}</strong></small>
                            </li>
                        {% endif %}
                    </ul>
                </td>
                <td>
                    {% if user.canedit and book.house == user.house %}
                        <a href="{{url_for('ep_deletebook',id=book.id)}}">
                            <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                </td>
                <td>
                    <ul class="list-unstyled">
                        {% for leterm in book.lastedit %}
                            <li>
                                {{ leterm }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
