{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block head %}

    {{super()}}
    {{fixes.ie8()}}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/css/bibliomansarda.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="icon" href="/images/library.png">

{% endblock %}

{% block title %}
    {% if title %}
        {{ title }} - BiblioMansarda
    {% else %}
        BiblioMansarda
    {% endif %}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="/index">
                  <img class=".img-responsive" src="/images/library.png" alt="Logo" height=25px>
                  BiblioMansarda
                </a>
              </li>
              {% if g.user.is_authenticated %}
                <li>
                  <a href="/books">
                    <i class="fa fa-book fa-lg" aria-hidden="true"></i>
                    Books
                  </a>
                </li>
                <li>
                  <a href="/authors">
                    <i class="fa fa-male fa-lg" aria-hidden="true"></i>
                    Authors
                  </a>
                </li>
                <li>
                  <a href="/booktypes">
                    <i class="fa fa-file-text fa-lg" aria-hidden="true"></i>
                    Booktypes
                  </a>
                </li>
                <li>
                  <a href="/languages">
                    <i class="fa fa-language fa-lg" aria-hidden="true"></i>
                    Languages
                  </a>
                </li>
              {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if g.user.is_authenticated %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" 
                        aria-expanded="false">
                    <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                    {{ g.user.name }}
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/usersettings">
                      <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
                      Settings
                    </a></li>
                    <li><a href="/changepassword">
                      <i class="fa fa-key fa-lg" aria-hidden="true"></i>
                      Change Password
                    </a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout">
                      <i class="fa fa-power-off fa-lg" aria-hidden="true"></i>
                      Log out
                    </a></li>
                  </ul>
                </li>
              {% else %}
                <li><a href="{{ url_for('ep_login') }}">Log in</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
</div>
{% endblock %}

{% block content %}
  {{util.flashed_messages(dismissible=True)}}
{% endblock %}
