{% extends "bootbase.html" %}

{% block content %}
  {{ super() }}
<div class="container">
  <h2>
    <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
    {{ formtitle }}
  </h2>
  <hr>
  <form action="" class="form form-horizontal" method="post"
    role="form" name="{{url_for('ep_editbook',authorlist=authorlist)}}">
    <div class="form-group">
        {{ form.hidden_tag() }}
        {% if showforce %}
        <div class="row row-grid">
            <div class="col col-sm-2">
                <label for="force">
                  <span style="color:red">
                    Confirm operation
                  </span>
                </label>
            </div>
            <div class="col col-sm-4">
              <span style="color:red">
                {{ form.force(color="red",tabindex=1) }}
              </span>
            </div>
        </div>
        {% endif %}

        <div class="row row-grid">
            <div class="col col-sm-2">
                <label for="title">
                    Title
                </label>
            </div>
            <div class="col col-sm-10">
              {% if editable %}
                {{ form.title(class_="form-control",tabindex=2) }}
              {% else %}
                {{ form.title(class_="form-control",readonly='readonly',tabindex=2) }}
              {% endif %}
              {% for error in form.title.errors %}
                <span style="color: red;">{{ error }}</span>
              {% endfor %}<br>
            </div>
        </div>
        <div class="row row-grid">
            <div class="col col-sm-2">
              <label for="booktype">
                Booktype
              </label>
            </div>
            <div class="col col-sm-2">
              {% if editable %}
                {{ form.booktype(class_="form-control",tabindex=3) }}
              {% else %}
                {{ form.booktype(class_="form-control normalcursor",disabled='disabled',tabindex=3) }}
              {% endif %}
              {% for error in form.booktype.errors %}
                <span style="color: red;">{{ error }}</span>
              {% endfor %}
            </div>
            <div class="col col-sm-1">
                <label for="notes">
                    Notes
                </label>
            </div>
            <div class="col col-sm-7">
              {% if editable %}
                {{ form.notes(class_="form-control",tabindex=4) }}
              {% else %}
                {{ form.notes(class_="form-control",readonly='readonly',tabindex=4) }}
              {% endif %}
              {% for error in form.notes.errors %}
                <span style="color: red;">{{ error }}</span>
              {% endfor %}
            </div>
        </div>
        <hr>
        <div class="row row-grid">
          <div class="col col-sm-2">
              <label for="authorshow">
                  Authors
              </label>
          </div>
          <div class="col col-sm-6">
            <div class="row row-grid">
              <div class="col col-sm-4">
                <ul class="list-unstyled">
                    {% for item in items %}
                        <li>
                            {{ item.description }}
                        </li>
                    {% endfor %}
                </ul>
              </div>
              <div class="col col-sm-8">
                <div class="row row-grid">
                  <div class="col col-sm-6">
                    {% if editable %}
                      {{ form.newauthors(class_="form-control",width="50%",tabindex=5) }}
                      {% for error in form.newauthors.errors %}
                        <span style="color: red;">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  </div>
                  <div class="col col-sm-6">
                    {% if editable %}
                      {{ form.additem(class_='btn btn-sm btn-success btn-block',tabindex=6) }} <br>
                    {% endif %}
                  </div>
                </div>
                <div class="row row-grid">
                  <div class="col col-sm-6">
                    {% if editable %}
                      {{ form.delauthors(class_="form-control",width="50%",tabindex=7) }}
                      {% for error in form.delauthors.errors %}
                        <span style="color: red;">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  </div>
                  <div class="col col-sm-6">
                    {% if editable %}
                      {{ form.delitem(class_='btn btn-sm btn-success btn-block',tabindex=8) }} <br>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-sm-4">
            <div class="row row-grid">
              <div class="col col-sm-12">
                <label for="languages">
                  Languages
                </label>
              </div>
            </div>
            <div class="row row-grid">
              <div class="col col-sm-12">
                <small>
                  {% if editable %}
                    {{ form.languages(size=80, class_="list-inline",tabindex=9) }}
                  {% else %}
                    {{ form.languages(size=80, class_="list-inline normalcursor",disabled='disabled',tabindex=9) }}
                  {% endif %}
                  {% for error in form.languages.errors %}
                    <span style="color: red;">{{ error }}</span>
                  {% endfor %}
                </small>
              </div>
            </div>
          </div>
        </div>
        <hr>

        <div class="row row-grid">
            <div class="col col-sm-2">
                <label>
                  Housing status
                </label>
            </div>
            <div class="col col-sm-1 col-sm-offset-2">
                <label for="house">
                  House
                </label>
            </div>
            <div class="col col-sm-3">
                  {% if editable %}
                    {{ form.house(class_="form-control",tabindex=10) }}
                  {% else %}
                    {{ form.house(class_="form-control normalcursor",disabled='disabled',tabindex=10) }}
                  {% endif %}
            </div>
            <div class="col col-sm-2">
                  {% if editable %}
                    {{ form.inhouse(tabindex=11) }}
                  {% else %}
                    {{ form.inhouse(disabled='disabled',tabindex=11,class_='normalcursor') }}
                  {% endif %}
                <label for="inhouse">
                  In-house
                </label>
            </div>
            <div class="col col-sm-2">
              {% if editable %}
                {{ form.inhousenotes(class_="form-control",placeholder="Specify if away",tabindex=12) }}
              {% else %}
                {{ form.inhousenotes(class_="form-control",
                  placeholder="Specify if away",readonly='readonly',tabindex=12) }}
              {% endif %}
              {% for error in form.inhousenotes.errors %}
                <span style="color: red;">{{ error }}</span>
              {% endfor %}
            </div>
        </div>
        <div class="row row-grid">
            <div class="col col-sm-2">
                {% if editable %}
                  {{ form.submit(class_="btn btn-primary",tabindex=13) }}
                {% endif %}
            </div>
            <div class="col col-sm-2">
                <a class="btn btn-warning" tabindex=14
                  href="{{url_for('ep_goback',default='ep_books')}}" role="button">
                    Cancel
                </a>
            </div>
        </div>
    </div>
  </form>
</div>

{% block footer %}
    {{ super() }}
{% endblock %}

{% endblock %}
