{% extends "bootbase.html" %}

{% block content %}
  {{ super() }}

<div class="container" style="margin-bottom: 40px;">
  <h2>
    <i class="fa fa-home fa-lg" aria-hidden="true"></i>
    Houses
  </h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col col-sm-3">Name</th>
        <th class="col col-sm-6">Description</th>
        <th class="col col-sm-2">Users</th>
        <th class="col col-sm-1">Books</th>
      </tr>
    </thead>
    <tbody>
    {% for house in houses %}
      <tr>
          <td>
            <a href="{{url_for('ep_books',house=house.name)}}">
              {{ house.name }}
            </a>
          </td>
          <td>
            {{ house.description }}
          </td>
          <td>
            <ul class="list-unstyled">
              {% for quser in house.users %}
                <li>
                  {% if quser.strong %}
                    <strong>
                  {% endif %}
                  {{ quser.name }}
                  {% if quser.strong %}
                    </strong>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </td>
          <td>
            {{ house.nbooks }}
          </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% block footer %}
    {{ super() }}
{% endblock %}

{% endblock %}
