{% extends "bootbase.html" %}

{% block content %}
  {{ super() }}
<div class="container">
  <h2>
    <i class="fa fa-upload fa-lg" aria-hidden="true"></i>
    Import data to the library
  </h2>
  <hr>
  <div>
    Please read the <a href=" {{url_for('ep_importhelp')}} ">guide to importing</a> before proceeding.
  </div>
  <hr>
  <div class="row row-grid">
    <div class="col-sm-4">
      1. <strong>CSV</strong> to book-<strong>JSON</strong>
    </div>
    <div class="col-sm-2">
      <a class="btn btn-success btn-block" href="{{url_for('ep_importstep',_step=1)}}" role="button">
        <i class="fa fa-refresh fa-lg" aria-hidden="true"></i>
        Convert ...
      </a>
    </div>
  </div>
  {% if user.canedit %}
    <div class="row row-grid">
      <div class="col-sm-4">
        2. Book-<strong>JSON</strong> to full-<strong>JSON</strong>
      </div>
      <div class="col-sm-2">
        <a class="btn btn-success btn-block" href="{{url_for('ep_importstep',_step=2)}}" role="button">
          <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i>
          Convert ...
        </a>
      </div>
    </div>
  {% endif %}
  {% if user.canedit %}
    <div class="row row-grid">
      <div class="col-sm-4">
        3. Actual <strong>import</strong> from full-<strong>JSON</strong>
      </div>
      <div class="col-sm-2">
        <a class="btn btn-success btn-block" href="{{url_for('ep_importstep',_step=3)}}" role="button">
          <i class="fa fa-flag-checkered fa-lg" aria-hidden="true"></i>
          Import ...
        </a>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
