{% extends "bootbase.html" %}

{% block content %}
    {{ super() }}

<div class="container">
  <h2>BiblioMansarda</h2>
  <hr>
    {% if g.user.is_authenticated %}
        <h3>Hi, {{ user.name }}.</h3>
        {% if statistics %}
            <div class="row"> 
            <div class="col-sm-8">           
              <table class="table">
                <thead>
                  <tr>
                    <th colspan="2">Some statistics</th>
                  </tr>
                </thead>
                <tbody>
                    {% for qstat in statistics %}
                        <tr>
                            <td>{{ qstat.description }}</td>
                            <td>{{ qstat.value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
            </div>
        {% endif %}
    {% else %}
        <h3>Welcome. Please <a href="{{url_for('ep_login')}}">log in</a></h3>
    {% endif %}

</div>

{% endblock %}
