{% extends "bootbase.html" %}

{% block content %}
    {{ super() }}

<div class="container" style="margin-bottom: 40px;">
  <h2>BiblioMansarda</h2>
  <hr>
    {% if g.user.is_authenticated %}
        <h3>Hi, {{ user.name }}.</h3>
        {% if statistics %}
            <div class="row"> 
            <div class="col-sm-8">           
              <table class="table">
                <thead>
                  <tr>
                    <th class="col col-sm-6">
                        Some statistics
                    </th>
                    <th class="col col-sm-3">
                    </th>
                    <th class="col col-sm-3">
                    </th>
                  </tr>
                </thead>
                <tbody>
                    {% for qstat in statistics %}
                        <tr>
                            <td class="col col-sm-6">
                                <strong>
                                    {{ qstat.description }}
                                </strong>
                            </td>
                            <td class="col col-sm-3">
                                {{ qstat.subtype }}
                            </td>
                            <td class="col col-sm-3">
                                {{ qstat.value }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
            </div>
        {% endif %}
    {% else %}
        <h3>Welcome. Please <a href="{{url_for('ep_login')}}">log in</a></h3>
    {% endif %}

</div>

{% block footer %}
    {{ super() }}
{% endblock %}

{% endblock %}

