{% extends "bootbase.html" %}

{% block content %}
  {{ super() }}

<div class="container">
  <h2>
    <i class="fa fa-language fa-lg" aria-hidden="true"></i>
    Languages
  </h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Code</th>
        <th>Language</th>
      </tr>
    </thead>
    <tbody>
    {% for language in languages %}
      <tr>
          <td>{{ language.tag }}</td>
          <td>{{ language.name }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
