<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <h2>{{ title }} (<a href="{{url_for('ep_authors')}}">Back</a>)</h2>
  {% if id %}
    <form action="" method="post" name="{{url_for('ep_editauthor',id=id)}}">
  {% else %}
    <form action="" method="post" name="{{url_for('ep_newauthor')}}">
  {% endif %}
      {{ form.hidden_tag() }}
      <p>
        Author's First Name:<br>
        {{ form.firstname(size=80) }}<br>
        {% for error in form.firstname.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
        Author's Last Name:<br>
        {{ form.lastname(size=80) }}<br>
        {% for error in form.lastname.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %} <br>
        <input type="submit" value="Save Author">
      </p>
      {% if id %}
        <hr>
        Involved in {{ bookcount }} books:
        {% for qtitle in booklist %}
          "{{ qtitle }}"
        {% endfor %}
        <hr>
      {% endif %}
  </form>
{% endblock %}
