<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Test Form</h1>
  <form action="" method="post" name="test">
      {{ form.hidden_tag() }}
      {{ form.name }}
      {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
      <p>
          Add
          {{ form.newauthors }}
          {% for error in form.newauthors.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %} {{ form.additem }} <br>
      </p>
      {% for item in items %}
          <div><p><i>&nbsp;&nbsp;&nbsp;{{ item.description }}</i></p></div>
      {% endfor %}
      <p>
          Remove
          {{ form.delauthors }}
          {% for error in form.delauthors.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %} {{ form.delitem }} <br>
      </p>
      <p>{{ form.submit }}</p>
  </form>
{% endblock %}
