{% extends "bootbase.html" %}

{% block content %}
  {{ super() }}
<div class="container">
  <h2>User settings</h2>
  <hr>
  <form class="form form-horizontal" method="post" role="form">
    {{ form.hidden_tag() }}
     <div class="row row-grid">
      <div class="col-sm-6">
        <label>
          {{ form.requireconfirmation() }} Ask for confirmations
        </label>
      </div>
    </div>
     <div class="row row-grid">
      <div class="col-sm-6">
        <label class="control-label" for="resultsperpage">
          Results per page
        </label>
        {{ form.resultsperpage(size=6) }}
        {% for error in form.resultsperpage.errors %}
          <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="row row-grid">
      <div class="col-sm-2">
        {{ form.submit(class_='btn btn-primary') }}
      </div>
    </div>
  </form>
</div>
{% endblock %}
