<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <h2>User settings for <i>{{ user.name }}</i></h2>
  <form action="" method="post" name="usersettings">
      {{ form.hidden_tag() }}
      <p>
        {{ form.requireconfirmation }} Require confirmation for sensitive operations
      </p>
      <p>
        {{ form.resultsperpage(size=6) }} results per page
        {% for error in form.resultsperpage.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
      </p>
      {{ form.submit }}
  </form>
{% endblock %}
